*.a
*.cat
*.dylib
*.exe
*.la
*.lo
*.o
*.obj
*.so
.*.sw?
.DS_Store
.deps
.gdb_history
.libs
/*.deb
/*.gz
/*.rpm
/.build/
/TAGS
/andy/
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/core
/cover/
/depcomp
/install-sh
/jd_dtrace.h
/jdtest
/jsonpretty
/libtool
/ltmain.sh
/missing
/stamp-h*
/tags
/version.h
Makefile
Makefile.in
Session.vim
aclocal.m4
