.*.sw?
.DS_Store
.gdb_history
/core
/cover/
/jdtest
/tags
/version.h
Session.vim
*.o
*.obj
*.exe
*.dylib
*.so
*.a
*.d
*.lo
*.la
*.cat
.deps
.libs
aclocal.m4
Makefile
Makefile.in
/configure
/autom4te.cache
/depcomp
/config.h
/config.h.in
/config.status
/config.cache
/config.log
/config.guess
/config.sub
/install-sh
/missing
/stamp-h*
/ltmain.sh
/libtool
